@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";


@import "components/components";
@import "layouts/layouts";

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

.footer, .push {
  height: 4em;
}
