header {
  background-color: $white;
  padding: 30px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

nav {
  @include outer-container;
  padding: 0 30px;
}

nav h1 {
  @include roboto-light;
  color: $black;
  display: inline;
}

nav small {
  @include roboto-light;
  color: $light-gray;
}

nav ul {
  float: right;
  li {
    display: inline;
    color: $light-gray;
    @include roboto-light;
    margin-right: 10px;
    border-right: 1px solid #a8a8a7;
    padding: 0 5px;
    
  }
  a {
    color: $black;
    text-decoration: none;
    
  }
}
